{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>Document</title>
    {% block css %}
    {% endblock %}
</head>

<body class="bg-dark text-light" data-bs-theme="dark">
    <nav class="sticky-top navbar bg-dark navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a href="{% url 'SalaryInput:home' %}" class="navbar-brand">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="container">
                    <ul class="navbar-nav mx-5" style="overflow-x: auto;">
                        <!-- <li class="nav-item"><a class="nav-link" href="#">Hyperlink</a></li> -->
                        {% for month in salary_months %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'SalaryInput:monthly_salary' month 'All' %}">{{ month }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
            {% block additional_buttons %}
            {% endblock %}
            {% if user.is_authenticated %}
            <a id="salary-add" class="btn btn-outline-danger mx-2" href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
        
    </nav>
    <div class="container my-2">
    {% include 'components/ShowMessages.html' %}

    </div>
      
{% block body %}
    <h1>Hello World!</h1>
{% endblock %}

    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.6.4.min.js' %}"></script>
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js"></script>
    {% block script %}
    {% endblock %}
</body>
</html>