{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/MonthSalaries.css' %}">
{% endblock %}
{% block additional_buttons %}
<div>
    <button id="salary-edit" class="btn btn-outline-secondary" a="">Edit</button>
    <a id="salary-add" class="btn btn-success" href="{% url 'SalaryInput:salary_input' %}">Add Salary</a>
    <button id="salary-save" class="btn btn-success d-none" a="">Save</button>
    <button id="salary-cancel" class="btn btn-outline-danger d-none" a="">Cancel</button>
</div>

{% endblock %}
{% block body %}
<div class="container p-3">
    <div class="container-fluid my-3 p-0">
        <a class="btn btn-outline-primary m-0" href="{% url 'SalaryInput:monthly_salary' month 'All' %}">No Filter</a>
        <a class="btn btn-outline-primary m-0" href="{% url 'SalaryInput:monthly_salary' month 'Empty' %}">No Salary Inputted</a>
        <p class="d-inline mx-3 align-middle">Filter by Pay Status:</p>
        {% for status in pay_status_list %}
        <a class="btn btn-outline-primary m-0" href="{% url 'SalaryInput:monthly_salary' month status %}">{{ status }}</a>
        {% endfor %}
    </div>
    <div class="container-fluid my-3 mb-5 p-0">
        <a class="btn btn-outline-primary m-0" href="{% url 'SalaryInput:export_monthly_salary_csv' month 'All' %}">Export All Salary as .csv</a>
        <a class="btn btn-outline-primary m-0" href="{% url 'SalaryInput:export_monthly_salary_csv' month 'N' %}">Export Salary for Print as .csv</a>
        <button id="print_record_form_button" type="button" class="btn btn-outline-primary m-0" data-bs-toggle="modal" data-bs-target="#print_record_form">Print Cheque and Wage for Print</a>
    </div>
        

    <div class="modal fade" id="print_record_form" tabindex="-1" aria-labelledby="print_record_form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <p>There are {{cheque_needed}} to print.</p>
                    <div class="mb-3 row">
                        <label class="col-sm-4 col-form-label">Month</label>
                        <div class="col-sm-8">
                            {{ print_record_form.month }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-4 col-form-label">Cheque Available to Print</label>
                        <div class="col-sm-8">
                            {{ print_record_form.cheque_available }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-10 col-form-label">Change Status to Printed? </label>
                        <div class="col-sm-2">
                            {{ print_record_form.change_to_printed }}
                        </div>
                    </div>
                    {{ print_record_form.errors}}
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" name="action" value="print_record_form" class="btn btn-outline-primary m-0">Print</button>
                </form>
            </div>
          </div>
        </div>
    </div>
    
    <table id="salary_record_table" class="table align-middle nowrap" style="width: 100%">
        <thead>
            <tr class="text-light">
            <th>ID</th>
            <th>Name</th>
            <th>Amount</th>
            <th>pay_status</th>
            <th>Description</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
        {% for pay in month_salaries %}
            <tr>
            <th>{% if pay.SID %}<a href="{% url 'SalaryInput:employee_salary_input' pay.SID month %}" class="text-light text-decoration-none">{{ pay.SID }}</a>{% else %}{{ pay.SID }}{% endif %}</th>
            <td><a href="{% url 'SalaryInput:employee_salary_input' pay.SID month %}" class="text-reset text-decoration-none">{{ pay.name }}</a></td>
            <td>{{ pay.amount }}</td>
            <td>{{ pay.pay_status }}</td>
            <td><textarea class="textarea form-control border-0" readonly>{{ pay.description }}</textarea></td>
            <td>{{pay.details}}</td>
            </tr>
            <!-- {% if pay.details %}
            {% for pay in pay.details %}
            <tr>
                <th><a href="" class="text-light text-decoration-none">{{ pay.SID }}</a></th>
                <td><a href="" class="text-reset text-decoration-none">{{ pay.name }}</a></td>
                <td>{{ pay.amount }}</td>
                <td>{{ pay.pay_status }}</td>
                <td></td>
                <td><textarea class="textarea form-control border-0" readonly>{{ pay.description }}</textarea></td>
            </tr>
            {% endfor %}
            {% endif %} -->
        {% endfor %}
        </tbody>
    </table>
    <!-- {% for pay in month_salaries %}
    <div class="row g-3 h-100">
        <div class="col-md-4 col-5">
            <div class=" input-group h-100 pb-3">
                <span class="input-group-text">{{ pay.0 }}</span>
                <span class="input-group-text form-control pay_name">{{ pay.1 }}</span>
            </div>
        </div>
        
        <div class="col-md-8 col-7" id="{{ pay.0 }}">
            <div class="input-group mb-3">
                <input type="number" class="form-control" value="{{ pay.2 }}" aria-label="amount" aria-describedby="amount" readonly>
                <textarea type="text" class="form-control textarea" placeholder="*description" aria-label="description" aria-describedby="description" readonly>{{ pay.3 }}</textarea>
            </div>
    
        </div>
    </div>
    

    {% endfor %} -->
    {% if status == 'All' or status == 'P' %}
    <div class="row">
        <div class="col-md-3">Total: {{stats.total}}</div>
        {% for key, data in stats.items %}
        {% if key != 'total' and key != 'empty_record' %}
        <div class="col-md-3">{{ key }}: {{ data }}</div>
        {% endif %}
        {% endfor %}
        <div class="col-md-3">Empty Record: {{stats.empty_record}}</div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block script %}
<script>
    var record_form_open_button = document.getElementById("print_record_form_button");
    if ("{{record_form_open}}" == 'True') {
        record_form_open_button.click();
    }
</script>
<script type="text/javascript">
    var table = $(document).ready(function() {
    var table = $('#salary_record_table').DataTable({
        searchPanes: true,
        paging: false,
        scrollX: true,
        "initComplete": function(settings, json) {
            $('.dataTables_filter').addClass('my-1 text-start text-md-end');
            $('.dataTables_filter label').addClass('fw-bold');
            $('.dataTables_info').addClass('my-1 text-start');
        },
        "rowCallback": function(row, data, dataIndex) {
            // check if this row should be modified
            if (data[5]) {
            // modify the row element here
                console.log($(row).children()[5])
            }
        },

    } );
    console.log(table.column(5).visible(false))
} );
</script>
{% endblock %}