{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>Document</title>
    {% block css %}
    {% endblock %}
</head>

<body class="bg-dark text-light" data-bs-theme="dark">
    <nav class="sticky-top navbar bg-dark navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a href="/home/" class="navbar-brand">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="container">
                    <ul class="navbar-nav mx-5" style="overflow-x: auto;">
                        <!-- <li class="nav-item"><a class="nav-link" href="#">Hyperlink</a></li> -->
                        {% for month in salary_months %}
                        <li class="nav-item"><a class="nav-link" href="/salary/month/{{ month }}">{{ month }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
            {% block additional_buttons %}
            <div>
                <a class="btn btn-success" href="{% url 'SalaryInput:salary_input' %}">Add Salary</a>
            </div>
            {% endblock %}
        </div>
        
    </nav>
      
{% block body %}
    <h1>Hello World!</h1>
{% endblock %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>